@charset "UTF-8";
/* CSS Document */
.section-work {
  padding: 60px 140px 100px;
}
.work-data {
  max-width: 1200px;
  margin: 0 auto;
}
.section-work h2 {
  margin-bottom: 15px;
  color: #5baddd;
  font-size: 2.6rem;
  letter-spacing: 0.6rem;
}
.work-manager {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.work-purpose {
  font-size: 1.8rem;
  margin-bottom: 30px;
  line-height: 3.6rem;
  letter-spacing: 0.5rem;
}
.beforeafter {
  max-width: 1100px;
  margin: 0 auto 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.web-before, .web-after{
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.web-after {
  box-shadow: 2px 3px 6px 2px rgba(190,190,190,0.9);
}
.beforeafter p {
  text-align: center;
}
.after-text {
  color: #f08b29;
}
.welcome-btn {
  width: 250px;
  height: 50px;
  margin: 0 auto 70px;
  background-color: #66a7d4;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 3px 0 #4d84aa;
  transition: .1s;
}
.welcome-btn:hover {
  box-shadow: none;
  transform: translate3d(0, 3px, 0);
}
.welcome-btn a {
  width: 100%;
  height: 100%;
  padding-top: 13px;
  font-size: 1.8rem;
  color: #fff;
  display: block;
  text-decoration: none;
}
.welcome-btn a {
  opacity: 1.0;
}
.work-box {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 2.7rem;
}
.research, .concept, .point {
  margin-bottom: 60px;
}
.work-box h3 {
  margin-bottom: 15px;
}
.work-box h3::before {
  content: '■';
  color: #f08b29;
}
.work-box span {
  margin-right: 5px;
}
.work-box p {
  margin-bottom: 20px;
}

.capture, .mobile-capture img {
  border-radius: 10px;
  box-shadow: 2px 5px 6px 2px rgba(190,190,190,0.9);
}
.capture img {
  border-radius: 10px;
}
.pc-capture {
  max-width: 900px;
  height: 100%;
  margin: 0 auto 60px;
}
.pc-capture img {
  width: 100%;
  height: 100%;
}
.mobile-capture {
  max-width: 900px;
  height: auto;
  margin: 0 auto 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mobile-capture img {
  max-width: 260px;
  height: 100%;
}

@media(max-width:699px) {
  .section-work {
  padding: 60px 24px 80px;
}
  .section-work h2 {
  margin-bottom: 15px;
  font-size: 2.4rem;
  letter-spacing: 0.4rem;
}
  .work-purpose {
  font-size: 1.6rem;
  margin-bottom: 20px;
  line-height: 2.8rem;
  letter-spacing: 0.2rem;
}
  .work-purpose br {
    display: none;
  }
  .mobile-capture {
    max-height: 400px;
  }
  .mobile-capture img {
  max-width: 30%;
  max-height: 400px;
}
}
